# Virtual environments
.venv/
.venvst/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Mypy / pytest / ruff caches
.mypy_cache/
.pytest_cache/
.ruff_cache/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
